<div>
  <div style='display:flex;'> 
    <img src=<% @user.photo %> />
    <div>
    <h3><%= @user.name %></h3>
    <p>Number of Posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div>
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>
  <ul>
     <% @user_posts.each do |post| %>
        <li> 
           <h3><%= post.title %></h3>
           <p><%= post.text %></p>
           <p>Likes: <%= post.likes_counter %></p>
           <p>Comments: <%= post.comments_counter %></p>
        </li>
      <% end %>
  </ul>
</div>