<div class='post_card_main' > 
   <div>
        <h3><%= @post.title %> by <%= User.find_by(id: @post.author_id).name%></h3>
        <div class='comments_likes'>
            Likes: <%= @post.likes_counter %>
            Comments: <%= @post.comments_counter %>
        </div>
    </div>
    <p><%= @post.text %></p>
    <%= render 'likes/new_like', local: {post: @post} %>
</div>

<% if @post.comments.empty? %>
              <h1>No comments for this post</h1>
           <% else %>
           <ul class='comments2'>
             <% @post.comments.each do |comment| %>
                <% if comment.post_id == @post.id %>
                    <li>   
                        <%= User.find_by(id: comment.author_id).name%>: <%= comment.text %>
                    </li>
                     <% if can? :destroy, comment %>
                        <%= button_to 'Delete comment', user_post_comment_path(comment.author, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                     <% end %>
                <% end %> 
             <% end %>
            </ul>
            <% end %>

            <button><%= link_to  "Create new Comment", new_user_post_comment_path(@post.author, @post)  %></button>