<div class='post_card_main' > 
   <div>
        <h3><%= @post.title %> by <%= User.find_by(id: @post.author_id).name%></h3>
        <div class='comments_likes'>
            Likes: <%= @post.likes_counter %>
            Comments: <%= @post.comments_counter %>
        </div>
    </div>
    <p><%= @post.text %></p>
</div>

<% if @comments.empty? %>
              <h1>No comments for this post</h1>
           <% else %>
           <ul class='comments2'>
             <% @comments.each do |comment| %>
                <% if comment.post_id == @post.id %>
                    <li>   
                        <p><%= User.find_by(id: comment.author_id).name%>: <%= comment.text %></p>
                    </li>
                <% end %>    
             <% end %>
            </ul>
            <% end %>